.report-berhasil {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.report-berhasil .div {
  background-color: #f5f5f5;
  width: 1440px;
  height: 1520px;
  position: relative;
}

.report-berhasil .footer {
  position: absolute;
  width: 1440px;
  height: 414px;
  top: 1106px;
  left: 0;
  background-color: #1e1e1e;
}

.report-berhasil .footer-2 {
  position: relative;
  width: 605px;
  height: 200px;
  top: 107px;
  left: 421px;
}

.report-berhasil .text-wrapper {
  position: absolute;
  height: 54px;
  top: 0;
  left: 185px;
  font-family: "Alegreya SC", Helvetica;
  font-weight: 500;
  color: #fff9f9;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.report-berhasil .overlap-group {
  position: absolute;
  width: 599px;
  height: 54px;
  top: 76px;
  left: 0;
}

.report-berhasil .contact-us-for {
  position: absolute;
  width: 599px;
  height: 54px;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #050505;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.report-berhasil .p {
  position: absolute;
  width: 599px;
  height: 54px;
  top: 0;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #fff9f9;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.report-berhasil .group {
  position: absolute;
  width: 234px;
  height: 48px;
  top: 152px;
  left: 182px;
}

.report-berhasil .OBJECTS {
  position: absolute;
  width: 614px;
  height: 543px;
  top: 468px;
  left: 413px;
}

.report-berhasil .text-wrapper-2 {
  position: absolute;
  top: 197px;
  left: 473px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Alegreya SC", Helvetica;
  font-weight: 700;
  color: #050505;
  font-size: 56px;
  letter-spacing: 1.12px;
  line-height: normal;
}

.report-berhasil .group-2 {
  position: absolute;
  width: 420px;
  height: 92px;
  top: 306px;
  left: 516px;
}

.report-berhasil .text-wrapper-3 {
  position: absolute;
  top: 72px;
  left: 320px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #e54b4b;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: normal;
}

.report-berhasil .overlap {
  position: absolute;
  width: 159px;
  height: 64px;
  top: 0;
  left: 14px;
}

.report-berhasil .text-wrapper-4 {
  position: absolute;
  top: 10px;
  left: 22px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #e54b4b;
  font-size: 32px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.report-berhasil .ellipse {
  width: 64px;
  height: 64px;
  left: 0;
  border-radius: 32px;
  border: 2px solid;
  border-color: #e54b4b;
  position: absolute;
  top: 0;
}

.report-berhasil .line {
  width: 96px;
  top: 30px;
  left: 63px;
  position: absolute;
  height: 2px;
}

.report-berhasil .text-wrapper-5 {
  position: absolute;
  top: 71px;
  left: 0;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #e54b4b;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: normal;
}

.report-berhasil .text-wrapper-6 {
  position: absolute;
  top: 71px;
  left: 151px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #e54b4b;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: normal;
}

.report-berhasil .overlap-2 {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 173px;
  border-radius: 32px;
}

.report-berhasil .text-wrapper-7 {
  left: 23px;
  position: absolute;
  top: 10px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #e54b4b;
  font-size: 32px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.report-berhasil .overlap-3 {
  position: absolute;
  width: 159px;
  height: 64px;
  top: 0;
  left: 237px;
}

.report-berhasil .text-wrapper-8 {
  left: 118px;
  position: absolute;
  top: 10px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: #e54b4b;
  font-size: 32px;
  letter-spacing: 0.64px;
  line-height: normal;
}

.report-berhasil .ellipse-2 {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 95px;
  border-radius: 32px;
  border: 2px solid;
  border-color: #e54b4b;
}

.report-berhasil .img {
  width: 96px;
  top: 30px;
  left: 0;
  position: absolute;
  height: 2px;
}

.report-berhasil .header {
  position: fixed;
  width: 1440px;
  height: 82px;
  top: 0;
  left: 0;
  background-color: #1e1e1e;
}

.report-berhasil .navbar {
  position: absolute;
  width: 551px;
  height: 27px;
  top: 28px;
  left: 448px;
}

.report-berhasil .text-wrapper-9 {
  width: 64px;
  left: 0;
  font-weight: 400;
  position: absolute;
  top: 0;
  font-family: "Open Sans", Helvetica;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.report-berhasil .text-wrapper-10 {
  left: 140px;
  font-weight: 700;
  position: absolute;
  top: 0;
  font-family: "Open Sans", Helvetica;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.report-berhasil .text-wrapper-11 {
  width: 67px;
  left: 291px;
  font-weight: 400;
  position: absolute;
  top: 0;
  font-family: "Open Sans", Helvetica;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.report-berhasil .text-wrapper-12 {
  position: absolute;
  width: 109px;
  top: 0;
  left: 434px;
  font-family: "Open Sans", Helvetica;
  font-weight: 400;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.report-berhasil .overlap-group-wrapper {
  position: absolute;
  width: 70px;
  height: 46px;
  top: 18px;
  left: 57px;
}

.report-berhasil .overlap-group-2 {
  position: relative;
  height: 46px;
}

.report-berhasil .ellipse-3 {
  width: 46px;
  height: 46px;
  left: 24px;
  border-radius: 22.94px/23px;
  border: 3px solid;
  border-color: var(--white);
  position: absolute;
  top: 0;
}

.report-berhasil .ellipse-4 {
  width: 46px;
  height: 46px;
  left: 0;
  border-radius: 22.94px/23px;
  border: 3px solid;
  border-color: #e54b4b;
  position: absolute;
  top: 0;
}

.report-berhasil .line-2 {
  width: 80px;
  top: 62px;
  left: 585px;
  position: absolute;
  height: 2px;
}

.report-berhasil .menu {
  position: absolute;
  width: 40px;
  height: 36px;
  top: 23px;
  left: 1240px;
}
